In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Data/preprocessed_movies_data.csv')

df.head()

,Title,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,nominations,oscars,Category
0,1. Star Wars: Episode III - Revenge of the Sith,2005,140.0,PG-13,7.6,867000.0,113000000.0,850035635.0,380270577.0,108435841.0,...,George Lucas,"Hayden Christensen, Natalie Portman, Ewan McGr...","Action Epic, Adventure Epic, Dark Fantasy, Fan...","United States, Italy, Switzerland, Thailand, U...","Mount Etna, Catania, Sicily, Italy","Lucasfilm, Mestiere Cinema, Pandora Films",English,64,1,Epic
1,"2. The Chronicles of Narnia: The Lion, the Wit...",2005,143.0,PG,6.9,438000.0,180000000.0,745013115.0,291710957.0,65556312.0,...,"Ann Peacock, Andrew Adamson, Christopher Markus","Tilda Swinton, Georgie Henley, William Moseley","Fantasy Epic, Supernatural Fantasy, Sword & So...","United Kingdom, United States","Adrspach National Park, Trutnov, Czech Republic","Walt Disney Pictures, Walden Media","English, German, Brazilian Sign Language",46,0,Epic
2,3. Harry Potter and the Goblet of Fire,2005,157.0,PG-13,7.7,705000.0,150000000.0,897468952.0,290469928.0,102685961.0,...,"Steve Kloves, J.K. Rowling","Daniel Radcliffe, Emma Watson, Rupert Grint","Sword & Sorcery, Teen Adventure, Teen Fantasy,...","United Kingdom, United States","Glenfinnan Viaduct, Fort William, Highland, Sc...","Warner Bros., Heyday Films, Patalex Productions","English, French, Latin",48,1,Fantasy
3,4. War of the Worlds,2005,117.0,PG-13,6.5,485000.0,132000000.0,603873504.0,234280354.0,64878725.0,...,"Josh Friedman, David Koepp, H.G. Wells","Tom Cruise, Dakota Fanning, Tim Robbins","Action Epic, Adventure Epic, Alien Invasion, D...",United States,"JF Kennedy Blvd., Bayonne, New Jersey, USA","Paramount Pictures, Dreamworks Pictures, Ambli...",English,49,3,Epic
4,5. King Kong,2005,187.0,PG-13,7.2,455000.0,207000000.0,556906378.0,218080025.0,50130145.0,...,"Fran Walsh, Philippa Boyens, Peter Jackson","Naomi Watts, Jack Black, Adrien Brody","Adventure Epic, Dark Romance, Dinosaur Adventu...","United States, New Zealand, Germany","Shelly Bay, Wellington, New Zealand","Universal Pictures, WingNut Films, Big Primate...",English,104,0,Epic

In [3]:
# 콜론으로 구분된 데이터의 첫번째 데이터만 추출
def extractFirstStr(input):
    if type(input) == str:
        return input.split(',')[0]
    else: # 문자열 타입이 아닌 경우 그대로 반환
        return input 

# 감독, 배우, 작가, 제작사 데이터 중 첫번째 데이터만 추출
df['directors'] = df['directors'].apply(extractFirstStr)
df['stars'] = df['stars'].apply(extractFirstStr)
df['writers'] = df['writers'].apply(extractFirstStr)
df['production_companies'] = df['production_companies'].apply(extractFirstStr)

# 촬영지, 언어, 국가 데이터는 사용하지 않으므로 삭제
df = df.drop(['countries_origin', 'filming_locations', 'Languages'], axis=1)
# 수상 정보는 사용하지 않으므로 삭제
df = df.drop(['nominations','oscars'], axis=1)
# 평점 정보 삭제
df = df.drop(['Votes','Rating'], axis=1)
# 장르 데이터는 카테고리로 대체하므로 삭제
df = df.drop(['genres'], axis=1)

df.head()

,Title,Year,Duration,MPA,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,directors,writers,stars,production_companies,Category
0,1. Star Wars: Episode III - Revenge of the Sith,2005,140.0,PG-13,113000000.0,850035635.0,380270577.0,108435841.0,George Lucas,George Lucas,Hayden Christensen,Lucasfilm,Epic
1,"2. The Chronicles of Narnia: The Lion, the Wit...",2005,143.0,PG,180000000.0,745013115.0,291710957.0,65556312.0,Andrew Adamson,Ann Peacock,Tilda Swinton,Walt Disney Pictures,Epic
2,3. Harry Potter and the Goblet of Fire,2005,157.0,PG-13,150000000.0,897468952.0,290469928.0,102685961.0,Mike Newell,Steve Kloves,Daniel Radcliffe,Warner Bros.,Fantasy
3,4. War of the Worlds,2005,117.0,PG-13,132000000.0,603873504.0,234280354.0,64878725.0,Steven Spielberg,Josh Friedman,Tom Cruise,Paramount Pictures,Epic
4,5. King Kong,2005,187.0,PG-13,207000000.0,556906378.0,218080025.0,50130145.0,Peter Jackson,Fran Walsh,Naomi Watts,Universal Pictures,Epic

In [4]:
# 수익률 계산
df['Profit'] = df['grossWorldWide'] / df['budget'] * 100 
# 수익률이 100% 이상이면 흥행작으로 판단
df['Hit'] = df['Profit'] > 100

# 수익 관련된 컬럼 삭제
df = df.drop(['grossWorldWide', 'gross_US_Canada', 'opening_weekend_Gross'], axis=1)
df.head()

,Title,Year,Duration,MPA,budget,directors,writers,stars,production_companies,Category,Profit,Hit
0,1. Star Wars: Episode III - Revenge of the Sith,2005,140.0,PG-13,113000000.0,George Lucas,George Lucas,Hayden Christensen,Lucasfilm,Epic,752.243925,True
1,"2. The Chronicles of Narnia: The Lion, the Wit...",2005,143.0,PG,180000000.0,Andrew Adamson,Ann Peacock,Tilda Swinton,Walt Disney Pictures,Epic,413.896175,True
2,3. Harry Potter and the Goblet of Fire,2005,157.0,PG-13,150000000.0,Mike Newell,Steve Kloves,Daniel Radcliffe,Warner Bros.,Fantasy,598.312635,True
3,4. War of the Worlds,2005,117.0,PG-13,132000000.0,Steven Spielberg,Josh Friedman,Tom Cruise,Paramount Pictures,Epic,457.479927,True
4,5. King Kong,2005,187.0,PG-13,207000000.0,Peter Jackson,Fran Walsh,Naomi Watts,Universal Pictures,Epic,269.036898,True

In [5]:
from sklearn.preprocessing import LabelEncoder

# 레이블 인코더 생성

le = LabelEncoder()

# 각 컬럼에 대해 레이블 인코딩 수행
df['directors'] = le.fit_transform(df['directors'])
df['writers'] = le.fit_transform(df['writers'])
df['stars'] = le.fit_transform(df['stars'])
df['production_companies'] = le.fit_transform(df['production_companies'])
df['Category'] = le.fit_transform(df['Category'])
df['Hit'] = le.fit_transform(df['Hit'])

df.head()

,Title,Year,Duration,MPA,budget,directors,writers,stars,production_companies,Category,Profit,Hit
0,1. Star Wars: Episode III - Revenge of the Sith,2005,140.0,PG-13,113000000.0,2105,2308,2155,3300,4,752.243925,1
1,"2. The Chronicles of Narnia: The Lion, the Wit...",2005,143.0,PG,180000000.0,355,490,5487,5179,4,413.896175,1
2,3. Harry Potter and the Goblet of Fire,2005,157.0,PG-13,150000000.0,4222,6201,1326,5188,5,598.312635,1
3,4. War of the Worlds,2005,117.0,PG-13,132000000.0,5678,3431,5535,3944,4,457.479927,1
4,5. King Kong,2005,187.0,PG-13,207000000.0,4705,2186,4183,5082,4,269.036898,1

In [6]:
df.to_csv('./Data/encoded_movies_data.csv', index=False)